#registerContainer{
    border-radius: 12px;
    max-width: 400px;
    background: black;
    border: solid white 1px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.popUpContent{
    background-color: black;
    padding: 0 25px;
}
